@model EmployeeCreateViewModel

@{
    ViewData["Title"] = "Create Page";
}

<br />
<h1 class="text-info font-weight-light">Create New Employee</h1>
<br />
<div class="container bg-light" style="padding:30px;">
    <form asp-controller="Home" asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="form-group row">
            <label asp-for="@Model.Name" class="col-3"></label>
            <input type="text" asp-for="@Model.Name" class="form-control col-6 text-info" />
            <span asp-validation-for="@Model.Name" class="text-danger font-weight-bolder"></span>
        </div>
        <div class="form-group row">
            <label asp-for="@Model.Email" class="col-3"></label>
            <input type="email" asp-for="@Model.Email" class="form-control col-6 text-info" />
            <span asp-validation-for="@Model.Email" class="text-danger font-weight-bolder"></span>
        </div>
        <div class="form-group row">
            <label asp-for="@Model.Department" class="col-3"></label>
            <select asp-for="@Model.Department" asp-items="Html.GetEnumSelectList<Dept>()" class="form-control col-6 text-info">
                <option value="">None</option>
            </select>
            <span asp-validation-for="@Model.Department" class="text-danger font-weight-bolder"></span>
        </div>
        <div class="form-group row">
            <label asp-for="@Model.Image" class="col-3"></label>
            <div class="custom-file col-6">
                <input asp-for="@Model.Image" class="form-control custom-file-input" />
                <label class="custom-file-label text-info">Choose an image...</label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <input type="submit" value="Create" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-controller="Home" asp-action="index" class="btn btn-danger form-control">Back</a>
            </div>
        </div>
        <div asp-validation-summary="All" class="text-danger font-weight-bolder"></div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var filename = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(filename);
            });
        });
    </script>
}